.geostar-regular {
    font-family: "Geostar", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

.colorFondo{
    background-color: #AEB2B6;
}

.colorFuente{
    color: black;
    text-decoration: none;
}
.colorFuente:hover{
    color: red;
;
}